.search {
    &-container {
        width: 100%;
        height: 60px;
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }

    &-form {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    &-input {
        margin-left: 10px;
        padding: 10px;
        width: 300px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        border: none;
    }

    &-button {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px;
        outline: none;
        border: none;
        color: white;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        background: rgb(22, 107, 136);
        font-weight: 500;
        transition-duration: 0.3s;
        cursor: pointer;

        &:hover {
            color: rgb(22, 107, 136);
            background: white;
            border: 1px solid rgb(22, 107, 136);
        }
    }
}

.logo {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bolder;
    // font-family: 
}