@import './../../../styles.scss';

.main-container {
    width: 100%;
    position: relative;
}

.img-container {
    position: relative;
    width:100%;
    height: 400px;
    text-align: center;
    img {
        object-fit: cover;
        overflow: hidden;
        width:100%;
        height: 100%;
    }
}

.info-box {
    position: absolute;
    left: 50px;
    bottom: -30px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.514);
    height: 200px;
    .game-name {
        font-size: 4rem;
    }
}

.mat-tab-group {
    width: 90%;
    margin: auto;
    color: white;
    padding: 14px;
    font-size: 1rem;
    line-height: 35px;
    margin-top: 30px;
}

::ng-deep {
    .mat-tab-group {
        background-color: #1F1F1F;
    }

    .screen-container {
        flex-direction: column;
        .screenshot {
            padding: 5px;
            width: 50%;
        }
    }

    .mat-tab-label .mat-tab-label-content {
        color: $blue;
        font-size: 1.1rem;
        opacity: 1;
    }

    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: $blue;
    }

    .mat-raised-button {
        background-color: $second;
        color: white;
    }
}

.website {
    padding: 0 5px;
}

.gauge-container {
    position: relative;
    position: absolute;
    top: 240px;
    right: 50px;
    .game-gauge {
        ::ng-deep mwl-gauge {
            width: 220px;
            display: block;
            .dial {
                stroke-width: 10;
            }
            .value {
                stroke-dasharray: none;
                stroke-width: 13;
            }
            
            .value-text {
                fill: white;
                font-weight: bolder;
            }
        }

        a {
            text-decoration: none;
            color: white;
            position: absolute;
            bottom: 75px;
            font-size: 1.3rem;
            left: 65px;
            font-weight: bolder;
        }
    }
}


